<!DOCTYPE html>
<html>
<head>
  <title>Tallience | Vacation Tracker</title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row">
    <img src="https://trademarks.justia.com/media/image.php?serial=85149721" class="img-responive  center-block">
    </div>
    <!-- from Devise tutorial https://www.sitepoint.com/devise-authentication-in-depth/ -->
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>

  <%= yield %>
  </div>
  <!-- yield top content from Devise tutorial -->

  <%= yield :top_content %>
  <%= render 'layouts/footer' %>
